:root {
    --theme: #e6e467;
    --entry: #000000;
    --primary: #000000;
    --secondary: #222222;
    --tertiary: #444444;
    --content: #222222;
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
    --header-height: 54px;
    --col-orange: #de9077;
    --col-green: #c6cfb7;
    --col-purple: #b8b2d9;
    --col-blue: #c7cee9;
    --col-yellow: #e6e467;
}

.theme-orange {
    --theme: var(--col-orange);
    --navcolor: var(--col-green);
    --navcontent: #000000;
    --entry: #000000;
    --primary: #000000;
    --secondary: #222222;
    --tertiary: #444444;
    --content: #222222;
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.theme-yellow-dark {
    --theme: #000000;
    --navcolor: #333333;
    --navcontent: #9d82ff;
    --entry: #aaaaaa;
    --primary: #ccda78;
    --secondary: #aaaaaa;
    --tertiary: #aaaaaa;
    --content: #ccda78;
    --hljs-bg: #2e2e33;
    --code-bg: #37383e;
    --border: #446;
}

.theme-green {
    --theme: var(--col-green);
    --navcolor: var(--col-yellow);
    --entry: #000000;
    --primary: #000000;
    --secondary: #222222;
    --tertiary: #444444;
    --content: #222222;
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.theme-purple {
    --theme: var(--col-purple);
    --navcolor: var(--col-orange);
    --entry: #000000;
    --primary: #000000;
    --secondary: #222222;
    --tertiary: #444444;
    --content: #222222;
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.theme-blue {
    --theme: var(--col-blue);
    --navcolor: var(--col-orange);
    --entry: #000000;
    --primary: #000000;
    --secondary: #222222;
    --tertiary: #444444;
    --content: #222222;
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

.theme-yellow {
    --theme: var(--col-yellow);
    --navcolor: var(--col-purple);
    --entry: #000000;
    --primary: #000000;
    --secondary: #222222;
    --tertiary: #444444;
    --content: #222222;
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}

