/* Center nav bar */
.nav {
//    font-family: Barlow, sans-serif;
    justify-content: center;
    line-height: 1em;
}

.page-header,
.post-header {
    margin: 0px auto var(--content-gap) auto;
}

.menu {
    background: var(--navcolor);
};
