@font-face {
    font-family: "Barlow";
    src: url('/fonts/barlow-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: "BarlowLight";
    src: url('/fonts/barlow-v12-latin-200.woff2') format('woff2');
}

@font-face {
    font-family: "Futura";
    src: url('/fonts/futura-light.woff2') format('woff2');
}

@font-face {
    font-family: "Poppins";
    src: url('/fonts/poppins-v21-latin-regular.woff2') format('woff2');
}

.nav a {
    font-family: Poppins, sans-serif;
    font-size: 16px !important;
    margin: 1em;
}

.post-title {
    font-family: BarlowLight, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 3em;
}

.post-content h1 {
    font-family: BarlowLight, sans-serif;
    text-align: center;
    justify-content: center;
    font-size: 2.5em;
}

.post-content h2 {
    font-family: Barlow, sans-serif;
    margin: 50px auto 24px;
}
/*
.post-description {
    font-family: Futura, sans-serif;
    text-align: center;
    font-size: 2em;
    letter-spacing: 4px;
}
*/
.post-content {
    font-family: Barlow, sans-serif;
    font-size: 1.2em;
    margin-bottom: 16px;
    line-height: 1.4em;
}

.center-img img {
    margin: auto;
    display: block;
}

.letterspace {
    font-family: Futura, sans-serif;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    letter-spacing: 3px;
    margin: 40px auto 24px;
    margin-bottom: 40px !important;
}

@media screen and (max-width: 768px) {
   .post-title {
        font-size: 2.0em !important;
    }
   .post-content h1 {
        font-size: 2.0em !important;
    }
    .letterspace {
        font-size: 1.0em;
        letter-spacing: 2px;
    }
}


